In [9]:
import pandas as pd
import numpy as np
df_sales = pd.read_csv('./source/sales.csv')
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   SalesId    200000 non-null  int64
 1   ProductId  200000 non-null  int64
 2   Date       200000 non-null  object
 3   UnitPrice  200000 non-null  float64
 4   Quantity   200000 non-null  int64
dtypes: float64(1), int64(3), object(1)
memory usage: 7.6+ MB

In [10]:
unique_ids = np.random.permutation(len(df_sales)) + 1
df_sales['SalesId'] = unique_ids
print(df_sales.info())

df_sales.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   SalesId    200000 non-null  int32
 1   ProductId  200000 non-null  int64
 2   Date       200000 non-null  object
 3   UnitPrice  200000 non-null  float64
 4   Quantity   200000 non-null  int64
dtypes: float64(1), int32(1), int64(2), object(1)
memory usage: 6.9+ MB
None

   SalesId  ProductId        Date  UnitPrice  Quantity
0   110416        590  2019-12-02     0.0525        93
1   172503        390  2017-11-19     5.1100        28
2    28404        883  2020-07-13     7.3675        33
3   139411        658  2019-05-12     2.0825        76
4    32866        632  2020-07-20     0.6475         8

In [11]:
df_sales.to_csv('sales.csv', index=False)